.card{
    height: 50vh;
    margin: 2rem 0;
    width: 22%;
    background-color: rgba(125, 121, 129, 0.265);
    display: flex;
    align-items: center;
    box-shadow: 7px 10px rgb(101, 164, 135);
    transition: all 450ms;
}